@media print {
  body {
    width: 8.25in;
    height: 11.75in;
    margin: 0 0 0 0;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

label {
    font-family: "Lusitana";
    font-size: 1rem;
}

i {
    margin: 0.1rem;
    font-size: 0.8rem;
    color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.name {
  font-family: "Reem Kufi";
  font-size: 2rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0eeee;
    margin: 0.6rem 0 0.3rem 0;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.banner-icon {
    font-size: 1rem;
    margin-right: 0.4rem;
    color: black;
}

.banner-title {
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Neuton";
}